.App {
  text-align: center;
  background-image: url(/src/images/background.png);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.chat-container, .messages-container, .form-container {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
}

.messages-container {
  text-align: left;
}

.messages-item {
  padding: 0.25rem;   
}

.form-input {
  width: 50%;
}