/* .App {
  text-align: center;
  background-image: url(/src/images/background.png);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
} */

.nav {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-logo {
  padding: 0 1rem;
}

.nav-logo img {
  width: 160px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  list-style-type: none;
}

.nav-links li {
  padding: 0 1rem;
}

.container, .messages-container, .form-container, .dream-container, .image-container, .create-container {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.messages-container {
  text-align: left;
}

.messages-item {
  padding: 0.25rem;   
}

.form-input, .dream-container textarea {
  width: 75%;
}

/* Loading ring animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

.create-container {
  display: flex;
  justify-content: space-around;
}